In [ ]:
import pandas as pd
import numpy as np

Load data

In [ ]:
df = pd.read_csv("CC GENERAL.csv",delimiter=',')

In [ ]:
df

     CUST_ID      BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0     C10001    40.900749  ...          0.000000      12
1     C10002  3202.467416  ...          0.222222      12
2     C10003  2495.148862  ...          0.000000      12
3     C10004  1666.670542  ...          0.000000      12
4     C10005   817.714335  ...          0.000000      12
...      ...          ...  ...               ...     ...
8945  C19186    28.493517  ...          0.500000       6
8946  C19187    19.183215  ...          0.000000       6
8947  C19188    23.398673  ...          0.250000       6
8948  C19189    13.457564  ...          0.250000       6
8949  C19190   372.708075  ...          0.000000       6

[8950 rows x 18 columns]

Normalization

In [ ]:
cols = list(df.columns)
cols.remove('CUST_ID')

In [ ]:
def normalize(df):
    res = df.copy()
    for feature in cols:
        M = df[feature].max()
        m = df[feature].min()
        res[feature] = (df[feature]-m)/(M-m)
    return res

df = normalize(df)

In [ ]:
df

     CUST_ID   BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0     C10001  0.002148  ...          0.000000     1.0
1     C10002  0.168169  ...          0.222222     1.0
2     C10003  0.131026  ...          0.000000     1.0
3     C10004  0.087521  ...          0.000000     1.0
4     C10005  0.042940  ...          0.000000     1.0
...      ...       ...  ...               ...     ...
8945  C19186  0.001496  ...          0.500000     0.0
8946  C19187  0.001007  ...          0.000000     0.0
8947  C19188  0.001229  ...          0.250000     0.0
8948  C19189  0.000707  ...          0.250000     0.0
8949  C19190  0.019572  ...          0.000000     0.0

[8950 rows x 18 columns]

Cleaning data

In [ ]:
df = df.fillna(df.mean())

In [ ]:
df

     CUST_ID   BALANCE  ...  PRC_FULL_PAYMENT  TENURE
0     C10001  0.002148  ...          0.000000     1.0
1     C10002  0.168169  ...          0.222222     1.0
2     C10003  0.131026  ...          0.000000     1.0
3     C10004  0.087521  ...          0.000000     1.0
4     C10005  0.042940  ...          0.000000     1.0
...      ...       ...  ...               ...     ...
8945  C19186  0.001496  ...          0.500000     0.0
8946  C19187  0.001007  ...          0.000000     0.0
8947  C19188  0.001229  ...          0.250000     0.0
8948  C19189  0.000707  ...          0.250000     0.0
8949  C19190  0.019572  ...          0.000000     0.0

[8950 rows x 18 columns]

Greedy k-center

In [ ]:
# Distance between a point and set of points = min of distances of that point from each point in the set

def metric(G,i):
    distance = np.inf
    for item in G:
        a = np.linalg.norm(np.array(df.iloc[item,1:])-np.array(df.iloc[i,1:]))
        if a<distance:
            distance = a
    return distance

In [ ]:
G = set()
dist = []
k = 20

for item in list(df['CUST_ID']):
    dist.append(np.inf)

In [ ]:
for i in range(k):
    index = np.argmax(dist)
    G.add(index)
    for j in range(len(dist)):
        dist[j] = min(dist[j],metric(G,j))
    objective = max(dist)
    if(i==1 or i==3 or i==7 or i==19):
        print("k = " + str(i+1))
        print("objective = " + str(objective))

k = 2
objective = 2.047595211326498
k = 4
objective = 1.8315120728301757
k = 8
objective = 1.5121115890516692
k = 20
objective = 1.2610362625131613

Comparison with Optimal

In [ ]:
df_comp = df.iloc[:90,:]

In [ ]:
# OPT for k=2

objective_opt = np.inf
opt = (0,1)
for i in range(len(df_comp['CUST_ID'])-1):
    for j in range(i+1,len(df_comp['CUST_ID'])):
        opt_dist = []
        for k in range(len(df_comp['CUST_ID'])):
            opt_dist.append(min(np.linalg.norm(np.array(df.iloc[i,1:])-np.array(df.iloc[k,1:])),np.linalg.norm(np.array(df.iloc[j,1:])-np.array(df.iloc[k,1:]))))
            # print(opt_dist)
        delta = max(opt_dist)
        if (delta<objective_opt):
            objective_opt = delta
            opt = (i,j)

In [ ]:
print(objective_opt)
print(opt)

1.1027561146377118
(6, 41)

In [ ]:
# Greedy for k=2

G_greedy = set()
dist_greedy = []
k = 2

for item in list(df['CUST_ID']):
    dist_greedy.append(np.inf)

for i in range(k):
    index = np.argmax(dist_greedy)
    G_greedy.add(index)
    for j in range(len(dist_greedy)):
        dist_greedy[j] = min(dist_greedy[j],metric(G_greedy,j))
    objective_greedy = max(dist_greedy)

In [ ]:
approximation_factor = objective_greedy / objective_opt
print("approximation factor(taken k=2) = " + str(approximation_factor))

approximation factor(taken k=2) = 1.8567978759285264